<!--<h1>Привет контур!!! {{title}}!</h1>
<input [(ngModel)]="title">

<div [innerHTML]="text"></div>

<input [ngModel]="title">
<div>{{ title }}</div>-->

<!--<app-home [title2]="'tttttt'" (firstRun)="onFirstRun($event)"></app-home>
{{ 'child title is: ' + child_title }}-->

<!--<h1 *appRandom="">Hello!</h1>-->

<!--<p *ngFor="let i of [1,2,3,4] | isodd">
  {{ i }}
</p>-->

<h1>App</h1>

<a [routerLink]="['']"></a>

-
